.content {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  align-self: flex-start;
}

.link {
  text-decoration: none;
  color: var(--color-accent-500);
}

.username {
  margin-top: 1rem;
  font-weight: 700;
  font-size: var(--fs-500);
  color: var(--color-neutral-700);
}

.followers {
  color: var(--color-neutral-500);
}

.bio {
  min-height: 1px;
  margin: 1rem 0;
  color: var(--color-neutral-500);
}
