@use "../abstracts" as *;

body {
  font-family: var(--ff-sans);
  color: var(--color-neutral-900);
}

// Font families

.display {
    line-height: .9;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-sans);
  color: var(--color-neutral-700);
}

// Font weights

.display,
h3,
h4,
h5,
h6,
.text-sm {
  font-weight: 400;
  letter-spacing: -0.05em;
  line-height: 1.15;
}

h1,
h2 {
  font-weight: 800;
}


// Font sizes

.display {
  font-size: var(--fs-900);
  

}

h1,
.h1 {
  font-size: var(--fs-800);
  letter-spacing: -0.016em;
  line-height: 1.25;
}

h2,
.h2 {
  font-size: var(--fs-700);
  letter-spacing: 0;
  line-height: 1.273;
}

h3,
.h3 {
  font-size: var(--fs-600);
}

h4,
.h4 {
  font-size: calc(var(--fs-400) * 1.125);
}

h5,
.h5 {
  font-size: var(--fs-400);
}

h6,
.h6 {
  font-size: calc(var(--fs-400) / 1.125);
}

.text-large {
  font-size: var(--fs-600);
  letter-spacing: -0.003em;
  line-height: 1.6;
}

p {
  line-height: 1.5;
}

small,
.text-small {
  font-size: var(--fs-300);
  letter-spacing: -.01em;
}

.text-xs {
  font-size: var(--fs-100);
}

p:not([class]),
ul:not([class]),
li:not([class]) {
  max-width: 60ch;
}
