@mixin button {
  border: none;
  padding: 0.5em 1.5em;
  background: none;
  border-radius: 99px;
  cursor: pointer;
}

.primary {
  @include button;
  border-width: 1px solid var(--color-neutral-800);
  background-color: var(--color-neutral-800);
  color: var(--color-neutral-100);
  transition: background-color 300ms linear, color 300ms linear;
  font-weight: 500;

  &:hover {
      background-color: var(--color-neutral-900);
  }
}

.outline {
  @include button;
  border: 1px solid var(--color-neutral-800);
  background-color: transparent;
  color: var(--color-neutral-800);
  transition: opacity 300ms linear;
  font-weight: 500;

  &:hover {
      opacity: .75;
  }
}

.icon {
  @include button;
  padding: 0;
  color: inherit;
}