$breakpoints: (
  smallplus: 34.5em,
  medium: 45.5em,
  mediumplus: 56.5em,
  large: 65em,
);

$colors: (
  neutral: (
    100: hsl(0, 0%, 100%),
    200: hsl(0deg 0% 98%),
    300: hsl(0, 0%, 95%),
    350: hsl(0, 0%, 90%),
    400: hsl(0, 0, 66%),
    500: hsl(0, 0%, 46%),
    700: hsl(0, 0%, 16%),
    800: hsl(0, 0%, 10%),
    900: hsl(0, 0%, 3%),
  ),
  secondary: (
    500: rgb(255, 192, 23),
  ),
  accent: (
    500: rgb(26, 137, 23),
  ),
  error: (
    500: rgb(201, 74, 74)
  )
);

$type-scale: (
  small: (
    100: .6875rem,
    200: .8125rem,
    300: .875rem,
    400: 1rem,
    500: 1.125rem,
    600: 1.25rem,
    700: 1.375rem,
    750: 1.75rem,
    800: 2rem,
    850: 2.625rem,
    900: 6.5rem
  ),

);
