* {
  margin: 0px;
  padding: 0px;
  /* box-sizing: border-box; */
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 6px;
  background-color: white;
}
::-webkit-scrollbar-thumb {
  background-color: #ccc;
}