.link {
    display: block;
    border: 1px solid var(--color-neutral-350);
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    padding: 1.5rem;
    border-radius: 4px;
    background-color: var(--color-neutral-200);
    color: var(--color-neutral-700);
    text-decoration: none;
}

.title {
    margin-bottom: 2rem;
}

.details {
    font-size: var(--fs-300);
    color: var(--color-neutral-500);
}
.button {
    display: inline-flex;
    margin-right: 1rem;
}